[Unit]
Description=Physical button listener for IoT device
After=network.target

[Service]
WorkingDirectory=/home/pi/lizard-button
Environment=HOME=/home/pi/lizard-button
EnvironmentFile=/home/pi/lizard-button/device.env
ExecStart=/home/pi/iot-env/bin/python3 /home/pi/lizard-button/button.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
